<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= head %>
<h1 class=<%= header_classes %>> Device Show Page for <%= device.id %> </h1>
<p class=<%= p_classes %>> MAC: <%= device.mac_addr %> </p>

<form action="/people">
  <select name="new_person">
      <option value='new'> New Person </option>
    <% all_people.each do |person| %>
      <option value="<%= person %>"><%= person %></option>
    <% end %>
  </select>
  <br><br>
  <input type="submit" value='Associate Device to Person'>

</form>
<p class=<%= p_classes %> SSIDs: </p>
<ul>
  <% device.ssids.each do |ssid| %>
    <li><%="<a href='/ssid?#{ssid.id}'> #{ssid.name} </a>"%></li>
  <% end %>
</ul>


<div id="time_chart" style="width: 80%"></div>


<script>
  google.charts.load("current", {packages:["timeline"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var container = document.getElementById('time_chart');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn({ type: 'string', id: 'active' });
      dataTable.addColumn({ type: 'date', id: 'Start' });
      dataTable.addColumn({ type: 'date', id: 'End' });
      dataTable.addRows([
        <% device.all_active_hours_for_chart.each do |hours| %>
        <%= hours %>
        <% end %>]);

      var options = {
        timeline: { showRowLabels: false },
        avoidOverlappingGridLines: false,
      };

      chart.draw(dataTable, options);
    }

</script>
