<%= head %>

<h1 class=<%= header_classes %>> Ssid Show Page for SSID <%= ssid.id %> </h1>
<p class=<%= p_classes %>> SSID: <%= ssid.name %> </p>
<p class=<%= p_classes %> Devices: </p>
  <ul>
    <% ssid.devices.each do |device| %>
      <li> <%="<a href='/device?#{device.id}'> #{device.mac_addr} </a>"%></li>
    <% end %>
  </ul>
